name: helm-test
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      #- name: Get repositories
      #  uses: hiberbee/github-action-helm@1.13.0
      #  with:
      #    helm: version
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0
      
      - name: Run a one-line script
        run: cd audit-hlm-library/tests && helm dependency update ./consumerapp && helm template consumerapp ./consumerapp/ --debug
